---
interface Props {
  position: string;
  workPeriod: string;
  description: string;
  company: string;
  technologies: string[];
}

const { position, workPeriod, description, company, technologies } =
  Astro.props;
---

<article class="flex flex-col text-textPrimary">
  <div class="flex justify-between font-bold">
    <h3 class="text-xl">{position}</h3>
    <span class="text-lg">{company}</span>
  </div>
  <span class="my-1 text-md text-textGray font-bold">{workPeriod}</span>
  <p class="text-md">{description}</p>
  <h3 class="text-xl font-bold my-2">Logros:</h3>
  <slot />
  <h3 class="text-xl font-bold my-2">Herramientas usadas:</h3>
  <div class="flex flex-wrap p-0 w-full gap-1 text-sm">
    {
      technologies.map((tech) => (
        <span class="bg-primaryDark bg-opacity-80 text-primary px-3 py-1 rounded-full whitespace-nowrap overflow-hidden shadow-md shadow-textGray">
          {tech}
        </span>
      ))
    }
  </div>
</article>
<style>
  article {
    margin-left: 20px;
    position: relative;
  }
  article::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -26px;
    top: 3px;
    width: 15px;
    height: 15px;
    border: 4px solid var(--primary-dark);
    background: white;
    border-radius: 50%;
  }
</style>
